.titulo {
	font-size: 16;
    font-weight: bold;
    opacity: 0.80;
}

.sub {
	font-size: 14;
	font-weight: bold;
    opacity: 0.80;
}

.contenido {
	font-size: 14;
	color: #3e3e3e;
	text-align: justify;
	padding-left: 5;
	text-align: left;
}

.container {
    border-color: #f9b537;
    border-width: 2;
    margin: 5;
    padding: 5;
}

.boton {
	margin: 5;
	background-color: #ffc300;
	width: 100;
	padding: 5;
	color: white;
	font-size: 18;
	font-weight: bold;
	text-align: center;
}
