action-bar {
  background-color: #ffc300;
  color: white;
}
.drawer-content {
	background-image: ~/images/7_Others/recursos-41.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  	color: white;
  	margin-right: 60;
}
.drawer-content label {
  font-size: 24;
}

.activity-menu {
	margin-left: 79;
	height: 12;
}

.activity-about {
	margin-left: 11;
	height: 12;
}

.activity-location {
	margin-left: 8;
	height: 11;
}

.activity-contact {
	margin-left: 42.5;
	height: 11;
}

.line {
	height: 2;
	border-color: #ffffff;
	border-width: 1;
	opacity: 0.3;
}

.bar {
	padding: 4;
	padding-left: 9;
	background-image: ~/images/7_Others/recursos-43.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  	color: white;
}

.title {
	margin-left: 85;
	font-size: 24;
}

.white_bg{
	background-image: ~/images/Recursos/componente-01.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.open {
	height: 19;
	margin-top: 10;
	margin-right: 9;
	margin-bottom: 3;
}

.close {
	width: 20 ;
	margin-top: 15;
	margin-right: 9;
	margin-bottom: 3;
}
